
{% extends "base.html" %}
{% load static %}


{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="card-header bg-warning text-center">Logout</h1>
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <p class="text-center">Are you sure you want to log out?</p>
                        <button type="submit" class="btn btn-primary btn-block mt-3">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}