{% extends "base.html" %}

{% block head_title %}Register{% endblock head_title %}

{% block content %}
<div class="container mt-4 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card border-warning shadow-red">
        <div class="card-header bg-warning text-center">
            <h1 class="text-dark">Register</h1>
        </div>
        <div class="card-body">
            {% if messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {% for message in messages %}
                <strong>Success!</strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% endfor %}
            </div>
            {% endif %}

            <p class="text-center mb-4">Already have an account? Then please <a href="{{ login_url }}" class="text-warning">sign in</a>.</p>

            <form id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-warning btn-block"> &raquo;Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}