@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    /*background-color: #f8f9fa;
    overflow-x: hidden;*/ 
}

main#content {
    flex: 1 0 auto;
}

#bg {
    background-image: url(https://res.cloudinary.com/dg5lyidc8/image/upload/v1720825881/static/background.d34a8d4af637.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;
}

/* Container styling */
.container {
    width: 90%; 
    margin: 0 auto; 
    padding: 0; 
    max-width: 100%; 
}

/* Card styling */
.card {
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%; 
    margin: 0;
}

.custom-card {
    border: 2px solid #343a40; 
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    width: 100%;
    max-width: 100%;
    margin: auto;
}

.card-body {
    padding: 1rem;
    width: 100%;
}
.card-body .form-control {
    width: 100%; 
    box-sizing: border-box;
}

.wide-card {
    width: 100%; 
    max-width: 100%; 
}

/* Style the form inputs and labels */
.form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-control {
    width: 100%;
    padding: 0.5rem 1rem; 
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #06080a;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Style the buttons */
.btn-primary {
    border-color: #007bff;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #22d25d;
    border-color: #b10b19;
}

.card-img-top img {
    width: 100%;
    height: auto;
    display: block;
}

.btn-block {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn-success:hover {
    background-color: #d7e237;
    border-color: #1e7e34;
}

.btn-danger:hover {
    background-color: #200205;
    border-color: #bd2130;
}

/* Footer styling */
.footer {
    width: 100%;
    background-color: #ffc107; 
    padding: 20px 0;
    color: #343a40; 
    text-align: center;
    height: auto; 
    border-top: 4px solid #343a40; 
    flex-shrink: 0;
    position: relative; 
    clear: both; 
    margin-top: auto; 
}

.footer p {
    margin: 5px 0;
}

.social-icons {
    padding-top: 10px; 
    margin-bottom: 10px;
}

.footer a {
    color: #343a40;
    text-decoration: none;
    margin: 0 10px;
    display: block;
}

.footer a:hover {
    text-decoration: underline;
}

.social-link {
    display: block;
    padding: 8px;
    text-decoration: none;
}

.social-link:hover {
    background-color: rgba(138, 31, 31, 0.1); 
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.bg-light {
    background-color: #f8f9fa;
}

.border-danger {
    border-color: #dc3545;
}

.shadow-red {
    box-shadow: 0 4px 8px rgba(220, 53, 69, 0.5);
}

.input-wrapper {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 300px;
    transition: border-color 0.3s ease;
}

.input-wrapper:focus-within {
    border-color: #ffc107;
}
.non-clickable {
    pointer-events: none;
    opacity: 1;
}

img{
    max-width: 100%;
}

/* Mobile Styles */
@media (max-width: 1000px) {
    .form-group {
        padding: 10px;
        margin: 0 auto;
    }

    .footer {
        padding: 15px;
        width: 100%;
    }

    .card-footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .editdelete {
        margin-top: 5px;
    }

    .form-control {
        font-size: 0.9rem;
    }

    .container {
        max-width: 100%;
        padding: 0;
    }

    .card {
        width: 100%;
        margin: 0;
    }

    .card-img-top {
        width: 100%;
    }

    .btn {
        width: 100%; /* Make buttons full-width on smaller screens */
        margin: auto;

    }
    
    .social-icons ul {
        flex-direction: column; /* Stack social links vertically on smaller screens */
    }
    
    .social-icons li {
        margin-bottom: 10px; /* Add space between social links */
    }
    
    .social-icons li:last-child {
        margin-bottom: 0; /* Remove bottom margin for the last item */
    }
    
    .col-12.col-md-4.text-center.mb-3.mb-md-0 p {
        margin-bottom: 1rem; /* Add bottom margin for spacing */
    }
    
    .col-12.col-md-4.text-center p {
        margin-bottom: 1rem; /* Add bottom margin for spacing */
    }
}