{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}

{% block head_title %}Posts in {{ cats }}{% endblock head_title %}

{% block content %}
<div class="container mt-4">
    <div class="card border-warning">
        <div class="card-header bg-warning">
            <h3 class="text-center text-black">Posts in {{ cats }}</h3>
        </div>
        <div class="card-body">
            
            <div class="row">
                {% for post in category_posts %}
                <div class="col-md-4 mb-4">
                    <div class="card blog-card h-100">
                        <div class="card-body">
                            <span class="card-img-top mb-3" > {% cloudinary post.featured_image %}</span>
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-author" style="background-color: #f0f0f0; padding: 5px;">By {{ post.author }}</p>
                            <p class="card-text">{{ post.excerpt|safe }}</p>
                            <p class="card-date" style="background-color: #f0f0f0; padding: 5px;">{{ post.post_date }}</p>
                            <a href="{% url 'details' post.pk %}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <a class="btn btn-warning mt-3" href="{% url 'home' %}">Back to all blogs</a>
    </div>
    
</div>
{% endblock content %}