{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% block head_title %}Star Wars{% endblock head_title %}

{% block content %}
<div class="container mt-4">
    {% if messages %}
    <div class="container mt-4">
        {% for message in messages %}
        <div id="alert-msg" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="card border-warning wide-card">
        <div class="card-header bg-warning text-center">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-8 container">
                    <div class="card-img-top mb-3">
                        {% cloudinary post.featured_image %}
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <small>{{ post.author }}</small>
                                </li>
                                <li class="list-inline-item">
                                    <small>{{ post.post_date }}</small>
                                </li>
                                <li class="list-inline-item">
                                    <small>
                                        <a href="{% url 'category' post.category|slugify %}" class="btn btn-primary btn-sm">
                                            {{ post.category }}
                                        </a>
                                    </small>
                                </li>
                                {% if user.is_authenticated and user.id == post.author.id %}
                                <li class="list-inline-item">
                                    <a href="{% url 'editpost' post.pk %}" class="btn btn-success btn-sm">Edit</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="{% url 'deletepost' post.pk %}" class="btn btn-danger btn-sm">Delete</a>
                                </li>
                                {% endif %}
                            </ul>
                            <hr>
                            <div class="post-content">
                                {{ post.content|safe }}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-4 text-center text-md-left">
                        <div class="col-12 col-md-4 mb-2 mb-md-0">
                            <a href="{% url 'home' %}" class="btn btn-dark btn-block">Back</a>
                        </div>
                        <div class="col-12 col-md-4 mb-2 mb-md-0">
                            {% if user.is_authenticated %}
                            <a href="{% url 'comments' post.pk %}" class="btn btn-primary btn-block">Add comment here</a>
                            {% else %}
                            <a href="{% url 'account_login' %}" class="btn btn-primary btn-block">Login to comment</a>
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-4">
                            <form action="{% url 'likeposts' post.pk %}" method="POST">
                                {% csrf_token %}
                                {% if user.is_authenticated %}
                                    {% if liked %}
                                    <button type="submit" name="postid" value="{{ post.id }}" class="btn btn-danger btn-block">
                                        Unlike {{ totallikes }}
                                    </button>
                                    {% else %}
                                    <button type="submit" name="postid" value="{{ post.id }}" class="btn btn-warning btn-block">
                                        <span class="text-danger">&hearts;</span> Like {{ totallikes }} <span class="text-danger">&hearts;</span>
                                    </button>
                                    {% endif %}
                                {% else %}
                                <a href="{% url 'account_login' %}" class="btn btn-warning btn-block">Login to like</a>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                    <hr>

                    <h2 class="text-center">Comments: {{ total_comments }}</h2>
                    {% if not post.comments.all %}
                        <p class="text-center">No comments yet.</p>
                    {% else %}
                        <ul class="list-group mb-4">
                            {% for comment in post.comments.all %}
                            <li class="list-group-item">
                                <strong>{{ comment.name }}</strong> <small>{{ comment.post_date }}</small>
                                <p>{{ comment.content|safe }}</p>
                                {% if user.is_authenticated %}
                                <form action="{% url 'upvote_comment' comment.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm {% if comment in upvoted_comments %}btn-danger{% else %}btn-outline-danger{% endif %}">
                                        {% if comment in upvoted_comments %}Unvote{% else %}Upvote{% endif %} {{ comment.total_upvotes }}
                                    </button>
                                </form>
                                {% else %}
                                <p>Upvotes: {{ comment.total_upvotes }}</p>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}