{% extends 'base.html' %}
{% block head_title %}Edit Profile{% endblock head_title %}

{% block content %}
{% if user.is_authenticated and user.profile.id == profile.id %}
<div class="container mt-4">
            
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card custom-card">
                <div class="card-header bg-warning text-center">
                    <h1>Edit Profile</h1>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary btn-block mt-3">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
    <div class="alert alert-danger" role="alert">
        You are not authorized to edit this profile.
    </div>
{% endif %}
{% endblock %}