{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block head_title %}Star Wars{% endblock head_title %}
{% block content %}
<div class="container">
    <div class="text-center mb-4">
        <!-- Full-width Heading -->
        <h1 class="card-header bg-warning mb-2">All Posts: {{ total_posts }}</h1>
        
        <!-- Sorting Options -->
        <form method="get" action="{% url 'home' %}" class="d-inline-block">
            <div class="form-group">
                <select name="sort_by" class="form-select" onchange="this.form.submit()">
                    <option value="date" {% if sort_by == 'date' %}selected{% endif %}>Sort by Date</option>
                    <option value="likes" {% if sort_by == 'likes' %}selected{% endif %}>Sort by Likes</option>
                </select>
            </div>
            <input type="hidden" name="search" value="{{ search }}">
        </form>
    </div>
    {% if no_results %}
    <div class="alert alert-warning" role="alert">
        Nothing found for "{{ search }}". Please try to search something else.
    </div>
{% endif %}

    {% for post in object_list %}
    <div class="card mb-4 blog-card">
        <div class="card-body">
            <span class="card-img-top mb-3">{% cloudinary post.featured_image %}</span>
            <h5 class="card-title">{{ post.title|safe }}</h5>
            <p class="card-author" style="background-color: #f0f0f0; padding: 5px;"><bold>By {{ post.author }}</bold></p>
            <p class="card-text">{{ post.excerpt|safe }}</p>
            <p class="card-date" style="background-color: #f0f0f0; padding: 5px;">{{ post.post_date }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <p class="card-category mb-0">
                    <a href="{% url 'category' post.category|slugify %}" class="btn btn-warning btn-sm"><bold>{{ post.category }}</bold></a>
                </p>
                <p class="card-likes mb-0 ms-3">
                    <!-- Non-clickable Like Button with Number of Likes -->
                    <button class="btn btn-secondary btn-sm">
                        <span class="text-danger">&hearts;</span> Likes {{ post.num_likes }} <span class="text-danger">&hearts;</span>
                    </button>
                </p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center mt-3">
                <a href="{% url 'details' post.pk %}" class="btn btn-primary">Read More</a>
                {% if user.is_authenticated and user.id == post.author.id %}
                <div class="d-flex button-group mt-3">
                    <a href="{% url 'editpost' post.pk %}" class="btn btn-success btn-sm me-2">Edit</a>
                    <a href="{% url 'deletepost' post.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}