{% extends 'base.html' %}
{% block head_title %}Star Wars{% endblock head_title %}
{% block content %}

    {% if user.is_authenticated %}
    <h1 class="card-header bg-warning text-center">Add Category</h1>

    <div class="card mb-4">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="mt-3">
                    <a href="{% url 'home' %}" class="btn btn-dark">Back</a>
                    <button type="submit" class="btn btn-warning">Add Category</button>
                </div>
            </form>
        </div>
    </div>

    {% else %}
    <div class="alert alert-danger" role="alert">
        Please <a href="{% url 'account_signup' %}" class="alert-link">register</a> to add a category.
    </div>
    {% endif %}

{% endblock %}